
.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: $color-gray-light-1;
    box-shadow: $shadow-dark;

    min-height: 50rem;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid $color-gray-light-2;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}

.sidebar {
    background-color: $color-gray-dark-1;
    
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: #fff;

    flex: 1;
}

.detail {
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: $color-gray-light-1;
    border-bottom: 1px solid $color-gray-light-2;
}

.description {
    background-color: white;
    box-shadow: 0 2rem 5rem rgba(0,0,0,0.06);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4rem;
}

.user-reviews {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}